{
    "Environment":  "PROD",
    "Service":  "OneDrive",
    "CredentialsPath":  "C:\\TaskConfig\\SkySync\\CredentialsStore-PROD-OneDrive.enc",
    "SkySyncSQLServer":  "servername.eastus2.cloudapp.azure.com",
    "SkySyncDatabase":  "skysync",
    "SkySyncDatabaseSchema":  "dbo",
    "WebAppSQLServer":  "migrationDBServer",
    "WebAppDatabase":  "BoxPostMigration",
    "WebAppDatabaseSchema":  "OneDrive",
    "BoxPostMigrationAPI":  "https://apipath.azurewebsites.net/api/",
    "BoxManagedUsername":  "",
    "BoxManagedUserID":  ,
    "ErrorToAddress":  "",
    "LastJobFilePath":  "C:\\TaskWork\\SkySync\\Sync-TransferJobs.PROD.OneDrive.LastJob.csv",
    "MigrationCompleteEmailFilePath":  "C:\\TaskConfig\\SkySync\\MigrationCompleteEmail.txt",
    "MigrationCompleteEmailFilePathGroups":  "C:\\TaskConfig\\SkySync\\MigrationCompleteEmail-Groups.txt"
}
